[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "third_party/torch-mlir"]
	path = third_party/torch-mlir
	url = https://github.com/llvm/torch-mlir.git
[submodule "third_party/pytorch_scatter"]
	path = third_party/pytorch_scatter
	url = https://github.com/rusty1s/pytorch_scatter.git
[submodule "third_party/pytorch_sparse"]
	path = third_party/pytorch_sparse
	url = https://github.com/rusty1s/pytorch_sparse.git
[submodule "third_party/pyg-lib"]
	path = third_party/pyg-lib
	url = https://github.com/pyg-team/pyg-lib.git
[submodule "third_party/lighthouse"]
	path = third_party/lighthouse
	url = https://github.com/llvm/lighthouse.git
